.content-width {
  min-width: 980px;
  max-width: 1200px;
}
header {
  position: relative;
}
header .banner {
  width: 100%;
  vertical-align: bottom;
}
header .top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
  transition: all 1s;
}
header .top nav {
  min-width: 980px;
  max-width: 1200px;
  height: 65px;
  line-height: 65px;
  margin: 0 auto;
}
header .top nav .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: inline-block;
  height: 50px;
  float: left;
}
header .top nav .main-nav {
  float: right;
}
header .top nav .main-nav li {
  float: left;
  margin: 0 30px;
}
header .top nav .main-nav li a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
header .top nav .main-nav li a:hover {
  color: #fcf065;
}
header .top nav .main-nav li .current {
  color: #fcf065;
}
header .change-top {
  background: #f8f8f8;
}
header .change-top nav .main-nav li a {
  color: #666;
}
header .change-top nav .main-nav li a:hover {
  color: #fc4640;
}
header .change-top nav .main-nav li .current {
  color: #fc4640;
}
header .watchword {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 980px;
  max-width: 1200px;
  height: 165px;
  margin: auto;
  text-align: center;
  color: #fff;
}
header .watchword h1 {
  font-size: 75px;
  font-weight: 500;
  text-align: center;
}
header .watchword p {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
footer {
  background: #383838;
}
footer .appointment {
  height: 70px;
  line-height: 70px;
  background: #fc4640;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
footer .appointment .button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 60px;
  padding: 0 40px;
  border: 2px solid #fff;
  font-size: 20px;
  vertical-align: middle;
  border-radius: 10px;
  color: #fff;
}
footer .footer-content {
  position: relative;
  min-width: 980px;
  max-width: 1200px;
  margin: 80px auto;
  color: #fff;
}
footer .footer-content > div {
  display: inline-block;
}
footer .footer-content .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 85px;
  margin: auto 0;
  float: left;
}
footer .footer-content .logo img {
  height: 70px;
  margin-bottom: 20px;
}
footer .footer-content .logo p {
  font-size: 16px;
  font-weight: 400;
  color: #c3c3c3;
}
footer .footer-content h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
}
footer .footer-content .contact-us {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
footer .footer-content .contact-us li {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
}
footer .footer-content .appoint-address {
  float: right;
}
footer .footer-content .appoint-address img {
  width: 100px;
}
footer .copyright {
  padding: 20px 0;
  text-align: center;
  color: silver;
  font-size: 14px;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal .content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 70%;
  margin: auto;
}
.modal .content p {
  position: absolute;
  top: 40%;
  right: 0;
  left: 12%;
  width: 25%;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
}
.modal .content .modal-bg {
  width: 100%;
}
.modal .content .modal-code {
  position: absolute;
  top: 50%;
  right: 0;
  left: 7%;
  width: 20%;
  margin: 0 auto;
}
.modal .content em {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('../images/close.png');
  background-size: cover;
}
.three-bar {
  float: left;
  width: 30%;
  margin-right: 50px;
}
.three-bar:last-child {
  margin-right: 0;
}
header.index .watchword h1 span {
  color: #fcf065;
}
header.index .watchword .button {
  display: inline-block;
  padding: 15px 40px;
  background: #fc4640;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}
.container .image-text {
  position: relative;
  height: 670px;
}
.container .image-text .describe {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 60px;
  margin: auto 0;
}
.container .image-text .describe h2 {
  margin-bottom: 20px;
  font-size: 40px;
}
.container .image-text .describe p {
  width: 550px;
  color: #666;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}
.container .teacher {
  background: #f7f7f7;
  height: 570px;
}
.container .teacher .main {
  min-width: 980px;
  max-width: 1200px;
  margin: 0 auto;
}
.container .teacher .main img {
  float: left;
  width: 100%;
  margin: 0px 30px 0 -120px;
}
.container .teacher .main .describe {
  left: 57%;
}
.container .student {
  background: #fff;
}
.container .student .main {
  min-width: 980px;
  max-width: 1200px;
  margin: 0 auto;
}
.container .student .main img {
  float: right;
  margin-top: -130px;
}
.container .panda .content {
  min-width: 980px;
  max-width: 1200px;
  margin: 70px auto;
}
.container .panda .content .title {
  margin-bottom: 70px;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.container .panda-student {
  background: #f7f7f7;
}
.container .panda-student .content .student-item {
  float: left;
  width: 30%;
  margin-right: 50px;
}
.container .panda-student .content .student-item:last-child {
  margin-right: 0;
}
.container .panda-student .content .student-item .photo {
  position: relative;
  width: 100%;
  height: 350px;
}
.container .panda-student .content .student-item .photo .photo-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 105px;
}
.container .panda-student .content .student-item .photo .photo-desc .photo-desc-content {
  margin: 20px 25px;
  color: #fff;
}
.container .panda-student .content .student-item .photo .photo-desc .photo-desc-content h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.container .panda-student .content .student-item .photo .photo-desc .photo-desc-content p {
  font-size: 16;
}
.container .panda-student .content .student-item .comment {
  margin: 30px 0 0 40px;
  line-height: 25px;
}
.container .panda-student .content .student-item .comment::before {
  content: '';
  display: block;
  width: 48px;
  height: 40px;
  margin-left: -40px;
  background: url('../images/quot.png');
}
.container .panda-student .content .Katie .photo {
  background-image: url('../images/Katie.png');
  background-size: cover;
}
.container .panda-student .content .David .photo {
  background-image: url('../images/David.png');
  background-size: cover;
}
.container .panda-student .content .Andy .photo {
  background-image: url('../images/Andy.png');
  background-size: cover;
}
.container .panda-abc .abc-main img {
  float: left;
  width: 50%;
  margin-right: 80px;
}
.container .panda-abc .abc-main .desc {
  float: left;
}
.container .panda-abc .abc-main .desc p {
  margin-bottom: 40px;
  line-height: 24px;
}
.container .panda-abc .abc-main .desc p:last-child {
  margin-bottom: 0;
}
header.course .watchword p {
  display: inline-block;
  width: 400px;
}
header.course .watchword p:before,
header.course .watchword p::before {
  content: '';
  display: inline-block;
  float: left;
  width: 50px;
  margin-top: 15px;
  border-top: 2px solid #e3e3e3;
}
header.course .watchword p:after,
header.course .watchword p::after {
  content: '';
  display: inline-block;
  float: right;
  width: 50px;
  margin-top: 15px;
  border-top: 2px solid #e3e3e3;
}
.container-course .course-idea .idea-item {
  float: left;
  width: 30%;
  margin-right: 50px;
}
.container-course .course-idea .idea-item:last-child {
  margin-right: 0;
}
.container-course .course-idea .idea-item p {
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
  color: #333;
}
.container-course .course-system {
  background: #f7f7f7;
}
.container-course .course-system img {
  width: 100%;
}
.container-course .course-design .design-content {
  width: 800px;
  margin: 0 auto;
}
.container-course .course-design .design-content .design-item {
  margin-bottom: 60px;
}
.container-course .course-design .design-content .design-item img {
  display: inline-block;
  float: left;
  margin-right: 40px;
}
.container-course .course-design .design-content .design-item .design-disc {
  position: relative;
  float: right;
  width: 400px;
  height: 140px;
  padding: 20px 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f7f7f7;
}
.container-course .course-design .design-content .design-item .design-disc .line {
  position: absolute;
  top: -70px;
  left: 0;
  height: 70px;
  border-left: 4px solid #f7f7f7;
}
.container-course .course-design .design-content .design-item .design-disc em {
  position: absolute;
  top: -15px;
  left: -15px;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fc4640;
}
.container-course .course-design .design-content .design-item .design-disc h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
}
.container-course .course-design .design-content .design-item .design-disc p {
  line-height: 28px;
  font-size: 20px;
  color: #666;
  word-break: normal;
  word-wrap: break-word;
}
header.teacher .watchword .line {
  width: 45px;
  border-top: 2px solid #e3e3e3;
  margin: 40px auto 0;
}
header.teacher .watchword p {
  line-height: 45px;
}
.container-teacher .outstand .swiper-container {
  height: 500px;
}
.container-teacher .outstand .swiper-slide {
  position: relative;
  height: 450px;
  transform: none;
  transition: 0.3s ease-in-out all;
  z-index: 90;
}
.container-teacher .outstand .swiper-slide img {
  display: block;
  width: 100%;
  margin-top: 120px;
}
.container-teacher .outstand .swiper-slide p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12%;
  display: block;
  height: 5%;
  margin: auto 0;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.container-teacher .outstand .swiper-slide2 p {
  height: 10%;
}
.container-teacher .outstand .swiper-slide-active {
  transform: scale(2);
  z-index: 100;
}
.container-teacher .selection-process {
  background: #f7f7f7;
}
.container-teacher .selection-process .content {
  margin-bottom: 0;
}
.container-teacher .selection-process .content img {
  width: 100%;
}
.container-teacher .foreign-teacher .content .teacher-item {
  float: left;
  width: 30%;
  margin-right: 50px;
}
.container-teacher .foreign-teacher .content .teacher-item:last-child {
  margin-right: 0;
}
.container-teacher .foreign-teacher .content .teacher-item img {
  width: 100%;
}
.container-teacher .foreign-teacher .content .teacher-item p {
  margin-top: 10px;
  line-height: 30px;
  font-size: 18px;
}
.container-teacher .university-assistant {
  background: #f7f7f7;
}
.container-teacher .university-assistant img {
  width: 255px;
  margin: 0 20px;
}
header.audition .top-changed {
  background: #f7f7f7;
}
header.audition .top-changed .main-nav li a {
  color: #666;
}
header.audition .top-changed .main-nav li a:hover {
  color: #fc4640;
}
header.audition .top-changed .main-nav li .current {
  color: #fc4640;
}
.container-audition .content {
  min-width: 980px;
  max-width: 1200px;
}
.container-audition .content img {
  width: 50%;
  float: left;
}
